<a href="https://colab.research.google.com/github/Shrutikapedamkar/CE888/blob/main/Lab6/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv", header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,100,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,91,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,39,99.00,99.00,99.00,99.00,-7.77,99.00,6.70,-6.75,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
24981,37,99.00,99.00,99.00,99.00,-9.71,99.00,4.56,-8.30,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
24982,72,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00

In [18]:
df= df.replace(99.00, np.nan)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74.0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,100.0,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49.0,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,48.0,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,91.0,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,100.0,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,91.0,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,39.0,NaN,NaN,NaN,NaN,-7.77,NaN,6.70,-6.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24981,37.0,NaN,NaN,NaN,NaN,-9.71,NaN,4.56,-8.30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24982,72.0,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df.drop(columns=[0])
df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,1.84,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,7.23,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,4.90,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,NaN,NaN,NaN,NaN,-7.77,NaN,6.70,-6.75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24981,NaN,NaN,NaN,NaN,-9.71,NaN,4.56,-8.30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24982,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,4.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#mean of each movie
joke_mean =df.mean(axis=0)
joke_mean

1      0.904573
2      0.208460
3      0.316574
4     -1.449114
5      0.403556
         ...
96     1.528003
97     1.673750
98     0.767692
99    -0.031244
100    1.354711
Length: 100, dtype: float64

In [21]:
#movie with highest ratings
high_rated_joke= joke_mean[joke_mean == max(joke_mean)]
high_rated_joke

50    3.665085
dtype: float64

In [22]:
#movie with worst rating
worst_rated_joke= joke_mean[joke_mean == min(joke_mean)]
worst_rated_joke

58   -3.83388
dtype: float64

In [23]:
print("Best joke: ",high_rated_joke.index.get_level_values(0)[0] )
print("Worst joke?: ",worst_rated_joke.index.get_level_values(0)[0] )

Best joke:  50
Worst joke?:  58

In [24]:
print(len(df))

24983

In [25]:
df.mean().max()

3.6650848950824937

In [26]:
#In the jokes dataset, what's the rating that user 7795 has given to joke 44? Give your answer with two decimal values (e.g., 0.13).
df.iloc[7795,44]

7.91

In [27]:
#In the movies dataset, what's the loading (i.e., value) of Factor10 for the movie with ID=141? Give your answer with three decimal values (e.g., 0.123).
mov_latent_factors = pd.read_excel("https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/movies_latent_factors.xlsx", sheet_name='Items')
mov_latent_factors

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,11,Star Wars: Episode IV - A New Hope (1977),-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,12,Finding Nemo (2003),-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,13,Forrest Gump (1994),-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,14,American Beauty (1999),-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,22,Pirates of the Caribbean: The Curse of the Bla...,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9806,The Incredibles (2004),0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,10020,Beauty and the Beast (1991),1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,36657,X-Men (2000),0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,36658,X2: X-Men United (2003),1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,36955,True Lies (1994),1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [28]:
#In the movies dataset, what's the loading (i.e., value) of Factor10 for the movie with ID=141? Give your answer with three decimal values (e.g., 0.123).
with pd.ExcelFile('/content/drive/MyDrive/Data_Science_and_Decision_Making/LAB6/movies_latent_factors.xlsx') as reader:
  df_item = pd.read_excel(reader, sheet_name = reader.sheet_names[0])
  df_user = pd.read_excel(reader, sheet_name=reader.sheet_names[1])

df_user[df_user['User']==141]['Factor10']

Series([], Name: Factor10, dtype: float64)

In [29]:
#In the movies dataset, which of the following IDs corresponds to the movie with the highest loading of factor 12?
df_item[df_item['Factor12'] == max(df_item['Factor12'])]['Movie ID']

58    672
Name: Movie ID, dtype: int64

In [30]:
#In the movies dataset, predict the rating that the user with ID 1882 will give to the movie with ID 602. Give your answer with two decimal values (e.g., 0.12).
movie_id_clean = df_item[df_item['Movie ID'] == 602]
movie_id_clean.drop('Movie ID',inplace=True,axis=1)
movie_id_clean.drop('Title',inplace=True,axis=1)
movie_id_clean

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
49,1.723949,-1.506179,-0.934647,-1.192857,-0.869422,0.729829,-0.029906,0.673459,0.670774,0.413855,0.652717,-0.905598,1.34118,0.944818,1.032206

In [31]:
user_id_clean = df_user[df_user['User'] == 1882]
user_id_clean.drop('User',inplace=True,axis=1)
user_id_clean

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
9,-0.083093,-0.02916,0.013748,0.022716,-0.062732,-0.08067,-0.019723,0.013253,-0.091305,-0.090687,0.030638,-0.113364,-0.021325,0.181508,0.022357

In [32]:
predictions = movie_id_clean.dot(user_id_clean.T)
predictions #answer

           9
49  0.055758

In [33]:
#In the movies dataset, if you had to recommend 3 movies to the user with ID=174, which ones would you choose?
user_id_clean = df_user[df_user['User'] == 174]
user_id_clean.drop('User', inplace=True, axis=1)
user_id_clean

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
3,-0.227462,-0.272532,-0.017231,0.054324,0.214755,-0.072639,-0.033122,-0.086508,-0.131479,0.180403,0.09589,-0.082396,0.036767,-0.165438,0.050692

In [34]:
movie_all_items = df_item.copy()
movie_all_items.drop('Title', inplace=True, axis=1)
movie_all_items.drop('Movie ID', inplace=True, axis=1)
movie_all_items

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [35]:
predictions = movie_all_items.dot(user_id_clean.T)

predictions

           3
0  -0.139366
1   0.129855
2   1.212876
3  -0.411287
4   0.484533
..       ...
95 -0.197997
96 -0.307370
97  0.138995
98  0.003095
99 -0.524709

[100 rows x 1 columns]

In [36]:
# 3 movies recommended to the user with ID=174
movies_recommended = predictions.sort_values(3,ascending=False)
movies_recommended

           3
15  1.892477
16  1.891704
14  1.858963
2   1.212876
50  1.148704
..       ...
36 -0.760042
5  -0.865355
85 -1.233248
86 -1.337438
90 -1.370533

[100 rows x 1 columns]

In [37]:
df_item.loc[14]['Title']# ans

'The Lord of the Rings: The Fellowship of the Ring (2001)'

In [39]:
df.iloc[7451,94]

2.57

In [42]:
df_user[df_user['User'] == 5503]

Empty DataFrame
Columns: [User, Factor1, Factor2, Factor3, Factor4, Factor5, Factor6, Factor7, Factor8, Factor9, Factor10, Factor11, Factor12, Factor13, Factor14, Factor15]
Index: []

In [43]:
df_user

,User,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,4768,-0.204024,0.161079,-0.090447,0.138495,-0.162934,0.163894,0.051502,-0.088582,0.126829,0.065967,0.085008,0.355404,0.007108,-0.118663,-0.039125
1,156,-0.189652,-0.178979,-0.091490,-0.000823,-0.032646,0.177209,-0.098123,-0.068283,-0.011575,0.120866,-0.009931,-0.048606,0.045916,0.113671,0.179873
2,5323,-0.115308,-0.090886,-0.053129,0.018472,-0.068081,-0.004828,0.113005,0.102107,0.034758,0.000693,-0.073712,-0.019460,0.108372,0.054471,-0.109552
3,174,-0.227462,-0.272532,-0.017231,0.054324,0.214755,-0.072639,-0.033122,-0.086508,-0.131479,0.180403,0.095890,-0.082396,0.036767,-0.165438,0.050692
4,4529,-0.014616,-0.102218,-0.107935,0.155784,-0.123362,-0.118228,-0.013549,-0.050622,0.058698,-0.159600,-0.142382,-0.132836,-0.039897,0.129063,0.102669
5,783,-0.020301,-0.031919,-0.036955,0.033690,0.000174,-0.003178,0.054474,0.045424,-0.053308,0.003437,-0.041750,0.059725,-0.021647,0.039873,-0.061857
6,3878,-0.091462,0.215879,-0.180453,0.085408,-0.321094,0.227947,0.053767,0.038017,0.097141,-0.139872,0.029253,0.214467,0.189250,0.065990,0.102776
7,768,0.000819,-0.009229,-0.019228,0.002703,0.012869,0.006655,0.007687,0.018747,0.014705,-0.009256,-0.010116,-0.010051,-0.002108,0.043223,-0.006670
8,4469,-0.030528,-0.011537,-0.042822,-0.014378,0.031338,0.012297,-0.000038,-0.010264,-0.006781,-0.019950,-0.014435,0.010926,0.024400,0.005318,-0.007983
9,1882,-0.083093,-0.029160,0.013748,0.022716,-0.062732,-0.080670,-0.019723,0.013253,-0.091305,-0.090687,0.030638,-0.113364,-0.021325,0.181508,0.022357
10,4997,-0.185443,-0.276496,-0.781275,-0.240506,0.029611,-0.271814,-0.056266,-0.111825,-0.290910,-0.255087,-0.098079,0.103116,-0.100563,0.100164,0.043196
11,2067,-0.083242,0.181171,-0.344267,-0.019713,-0.243199,0.039220,-0.092086,0.114808,-0.036472,0.042386,-0.186812,-0.127038,0.176661,-0.055812,-0.000042
12,3806,-0.042344,-0.040755,-0.055720,-0.073726,0.018203,0.091940,0.123959,-0.157403,-0.020388,0.082493,0.223057,-0.040915,-0.130308,-0.021816,0.034549
13,2848,-0.113283,-0.098942,-0.040393,0.042180,-0.041068,-0.039568,0.018291,-0.191254,0.218912,0.017262,-0.087468,0.036894,0.067105,-0.016780,-0.029503
14,4433,-0.298760,-0.290228,-0.160120,0.156277,-0.055364,-0.434205,-0.089259,0.252211,-0.107413,-0.088591,0.121157,0.071371,-0.415598,-0.022139,-0.183021
15,3519,-0.068454,0.020090,0.039336,0.002958,-0.018140,0.006501,-0.108526,0.025045,0.056334,-0.031291,-0.035533,0.005171,0.005546,0.020780,-0.023623
16,5338,-0.061259,0.014661,0.011412,0.001727,0.064996,-0.078448,0.059510,0.017402,-0.040234,-0.073409,-0.016323,0.031774,-0.062413,0.107708,0.065081
17,3947,-0.022340,-0.115285,-0.136980,0.038593,-0.003029,0.071770,-0.146675,-0.285724,-0.044472,-0.054032,0.064019,-0.045329,-0.111919,0.066313,0.002395
18,4373,-0.136550,-0.089406,-0.235399,0.120585,-0.168168,0.129990,-0.035084,-0.324028,0.087531,0.045290,0.207850,-0.028972,-0.175184,-0.058283,0.147797
19,2092,-0.121763,0.011065,-0.037121,0.032568,0.017570,0.095802,0.120238,-0.048410,0.008829,0.121778,0.093783,0.044754,-0.003087,0.164487,-0.075231
20,525,-0.040290,0.014383,-0.098967,-0.018957,0.012388,0.035546,0.000903,0.012835,-0.021080,0.018742,-0.050483,-0.025394,0.034079,0.038330,-0.001341
21,4327,0.008227,0.073899,-0.323967,0.131203,-0.320862,0.054997,0.060751,0.162314,0.044612,-0.232241,0.094986,-0.106570,-0.051692,-0.093490,0.029534
22,3048,-0.320315,0.078290,-0.083182,-0.221577,-0.078184,-0.145306,-0.020166,0.124409,-0.063425,0.004726,0.009683,0.028016,-0.018100,-0.128452,0.069972
23,2665,-0.076167,-0.006064,-0.001902,-0.053641,0.021751,0.048207,-0.083980,0.146907,-0.057422,0.006085,0.063240,0.086562,-0.132328,0.146198,0.029200
24,4940,-0.113099,0.047643,-0.053024,0.024834,0.010643,-0.012051,-0.049150,0.006252,0.020429,0.004349,0.028372,0.010227,-0.008233,-0.029304,0.090511

In [52]:
# df_item['Movie_id'] == 5503
df_item[df_item['Movie ID'] == 5503]['Factor10']

87    0.707901
Name: Factor10, dtype: float64

In [53]:
#In the movies dataset, which of the following IDs corresponds to the movie with the highest loading of factor 3?

df_item[df_item['Factor3'] == max(df_item['Factor3'])]['Movie ID']

14    120
Name: Movie ID, dtype: int64

In [55]:
#In the movies dataset, predict the rating that the user with ID 1882 will give to the movie with ID 954. Give your answer with two decimal values (e.g., 0.12).
movie_id = df_item[df_item['Movie ID'] == 954]
movie_id.drop('Movie ID',inplace=True,axis=1)
movie_id.drop('Title',inplace=True,axis=1)
movie_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
71,0.963312,-1.01601,-0.761893,-1.627068,-0.958176,-0.586743,-0.097113,0.244522,1.013271,0.532746,0.14165,0.338985,-0.80861,1.649491,-0.682597

In [56]:
user_id = df_user[df_user['User'] == 1882]
user_id.drop('User',inplace=True,axis=1)
user_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
9,-0.083093,-0.02916,0.013748,0.022716,-0.062732,-0.08067,-0.019723,0.013253,-0.091305,-0.090687,0.030638,-0.113364,-0.021325,0.181508,0.022357

In [57]:
pred = movie_id.dot(user_id.T)
pred #answer

           9
71  0.141203

In [58]:
#In the movies dataset, predict the rating that the user with ID 4940 will give to the movie with ID 1900. Give your answer with two decimal values (e.g., 0.12).
movie_id = df_item[df_item['Movie ID'] == 1900]
movie_id.drop('Movie ID',inplace=True,axis=1)
movie_id.drop('Title',inplace=True,axis=1)
movie_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
80,0.126624,1.204196,0.054766,-0.12557,0.438356,-0.391059,-0.483375,-0.41214,0.08269,0.196484,-0.32468,0.163373,-0.196084,0.078093,0.088053

In [59]:
user_id = df_user[df_user['User'] == 4940]
user_id.drop('User',inplace=True,axis=1)
user_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
24,-0.113099,0.047643,-0.053024,0.024834,0.010643,-0.012051,-0.04915,0.006252,0.020429,0.004349,0.028372,0.010227,-0.008233,-0.029304,0.090511

In [60]:
pred = movie_id.dot(user_id.T)
pred #answer

          24
80  0.069886

In [61]:
# In the movies dataset, if you had to recommend 3 movies to the user with ID=4469, which ones would you choose?
user_id = df_user[df_user['User'] == 4469]
user_id.drop('User', inplace=True, axis=1)
user_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
8,-0.030528,-0.011537,-0.042822,-0.014378,0.031338,0.012297,-0.000038,-0.010264,-0.006781,-0.01995,-0.014435,0.010926,0.0244,0.005318,-0.007983

In [62]:
best_movie = df_item.copy()
best_movie.drop('Title', inplace=True, axis=1)
best_movie.drop('Movie ID', inplace=True, axis=1)
best_movie

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [63]:
# predictions = movie_all_items.dot(user_id_clean.T)
pred = best_movie.dot(user_id.T)

pred

           8
0   0.033540
1  -0.066459
2   0.170744
3  -0.015182
4  -0.007154
..       ...
95 -0.131435
96 -0.046253
97 -0.052109
98 -0.057458
99 -0.076232

[100 rows x 1 columns]

In [66]:
recommend_movie = pred.sort_values(8,ascending=False)
recommend_movie

           8
33  0.207680
39  0.183286
10  0.173611
27  0.172180
2   0.170744
..       ...
46 -0.114932
43 -0.122341
95 -0.131435
52 -0.142724
86 -0.199980

[100 rows x 1 columns]

In [69]:
df_item.loc[33]['Movie ID']# ans

278

In [70]:
df_item.loc[39]['Movie ID']# ans

453

In [71]:
df_item.loc[10]['Movie ID']# ans

98

In [72]:
# In the movies dataset, if you had to recommend 2 movies to the user with ID=4327, which ones would you choose?
user_id = df_user[df_user['User'] == 4327]
user_id.drop('User', inplace=True, axis=1)
user_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
21,0.008227,0.073899,-0.323967,0.131203,-0.320862,0.054997,0.060751,0.162314,0.044612,-0.232241,0.094986,-0.10657,-0.051692,-0.09349,0.029534

In [73]:
best_movie = df_item.copy()
best_movie.drop('Title', inplace=True, axis=1)
best_movie.drop('Movie ID', inplace=True, axis=1)
best_movie

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [74]:
# predictions = movie_all_items.dot(user_id_clean.T)
pred = best_movie.dot(user_id.T)

pred

          21
0  -0.571045
1   0.701410
2   0.957224
3   0.312992
4  -0.362200
..       ...
95  0.568636
96  0.228117
97 -0.071025
98 -0.133544
99 -0.000380

[100 rows x 1 columns]

In [76]:
recommend_movie = pred.sort_values(21,ascending=False)
recommend_movie

          21
47  1.386042
35  1.067568
2   0.957224
70  0.894748
48  0.848232
..       ...
78 -0.674849
79 -1.130503
14 -2.000204
16 -2.005248
15 -2.024219

[100 rows x 1 columns]

In [77]:
df_item.loc[47]['Movie ID']# ans

597

In [78]:
df_item.loc[35]['Movie ID']# ans

329